# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  renovate: daniel-shuy/renovate@3.1.0
jobs:
  test:
    # Use a machine executor because it most easily supports multiple languages
    machine:
      # See https://circleci.com/docs/2.0/configuration-reference/#available-machine-images for the list of images
      image: ubuntu-2204:2023.10.1
    steps:
      - checkout
      # Use the latest version of python available as reported via "pyenv install -l"
      - run: pyenv install -l
      - run: pyenv global 3.11.5
      # Install bazelisk. See https://github.com/bazelbuild/bazelisk#requirements
      - run: go version
      - run: go install github.com/bazelbuild/bazelisk@latest
      - run: bazelisk test --test_output=errors //...
  check-buildifier:
    docker:
      # See https://circleci.com/developer/images/image/cimg/go for a list of images
      - image: cimg/go:1.25.6@sha256:f6f88625e8ee23457eeb0877f5a8fea17a066ddc05958f92c093cfab791bde74
    steps:
      - checkout
      - run: go install github.com/bazelbuild/buildtools/buildifier@latest
      - run: bash .circleci/check_buildifier
      - run:
          command: echo "Run .circleci/fix_buildifier"
          when: on_fail
  check-python:
    docker:
      # See https://circleci.com/developer/images/image/cimg/python for a list of images
      - image: cimg/python:3.14.2@sha256:9f4c2f6d6b82609ecce3a4d8b4162660a04f11dce90b35e912e79491bbccc188
    steps:
      - checkout
      - run: pip install -r requirements_lock.txt
      - run: pip install pylint
      # It would be nice to keep invalid-name but it is too convenient to use the oeis sequence and "n"
      - run: find . -name "*.py" | xargs pylint --disable=missing-docstring --disable=too-many-public-methods --disable=invalid-name
  # See https://github.com/google/yapf
  check-yapf:
    docker:
      # See https://circleci.com/developer/images/image/cimg/python for a list of images
      - image: cimg/python:3.14.2@sha256:9f4c2f6d6b82609ecce3a4d8b4162660a04f11dce90b35e912e79491bbccc188
    steps:
      - checkout
      - run: pip install yapf
      - run: find . -name "*.py" | xargs yapf --parallel --style google --diff
      - run:
          command: |
            echo "Run find . -name "*.py" | xargs yapf --parallel --style google --in-place"
          when: on_fail

workflows:
  test-workflow:
    jobs:
      - check-buildifier
      - check-python
      - check-yapf
      - renovate/validate-config
      - test
